<!DOCTYPE html>
<html lang="en" data-ng-app="emailApp">

<head>
    <meta charset="UTF-8">
    <title>Mail Client</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/loginStyles.css">
    <link rel="stylesheet" href="/styles/myStyles.css">
</head>

<body>
    <header ng-controller="MailCtrl">
        <div class="text-center" id="banner">Email Client</div>
        <div class="btn btn-md btn-info pull-right" data-toggle="modal" data-target="#emailModal">Write an Email</div>
        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add a message</h4>
                    </div>
                    <div class="modal-body">
                        <!--  SENDING MAIL FORM  -->
                        <form class="form-inline">
                            <label for="#address">To: </label>
                            <input ng-model="SendAuthor" type="text" class="form-control" size="20" id="address">
                            <label for="#topic">Topic: </label>
                            <input ng-model="SendSubject" type="text" class="form-control" size="20" id="topic">
                            <br>
                            <label for="#textMessage">Message:</label>
                            <textarea id="textMessage" cols="33" rows="4" ng-model="mailContent"></textarea>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-right btn-lg" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success pull-left btn-lg" ng-click="sendMail()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <div class="row">
        <!-- LEFT SIDE -->
        <div id="left-col" class="col-xs-3" ng-controller="DashboardCtrl">
            <div class="chooseOption">
                <a ui-sref="received">
                    <div class="content">
                        <span style="color: black" class="glyphicon glyphicon-folder-open"> Received ({{received.length}})</span>
                    </div>
                </a>
            </div>
            <div class="chooseOption">
                <a ui-sref="sended">
                    <div class="content">
                        <span style="color: black" class="glyphicon glyphicon-envelope"> Sended ({{sended.length}})</span>
                    </div>
                </a>
            </div>
            <div class="chooseOption">
                <a ui-sref="removed">
                    <div class="content">
                        <span style="color: black" class="glyphicon glyphicon-remove"> Removed ({{removed.length}})</span>
                    </div>
                </a>
            </div>
            <div class="chooseOption">
                <a ui-sref="spam">
                    <div class="content">
                        <span style="color: black" class="glyphicon glyphicon-trash"> SPAM ({{spam.length}})</span>
                    </div>
                </a>
            </div>
            <div class="chooseOption">
                <a href ng-click="info()">
                    <div class="content">
                        <span style="color: black" class="glyphicon glyphicon-cog"> Settings</span>
                    </div>
                </a>
            </div>
        </div>
        <!-- RIGHT SIDE -->
        <div id="right-col" ng-view class="col-xs-9">
            <div data-ui-view></div>
        </div>
    </div>
    <!-- REQUIRED LIBRARIES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- APLICATION SCRIPTS -->
    <script src="js/app.js"></script>
    <script src="js/controllers/MailCtrl.js"></script>
    <script src="js/controllers/loginCTRL.js"></script>
    <script src="js/controllers/receivedCTRL.js"></script>
    <script src="js/controllers/removedCTRL.js"></script>
    <script src="js/controllers/spamCTRL.js"></script>
    <script src="js/controllers/sendedCTRL.js"></script>
    <script src="js/controllers/DashboardCtrl.js"></script>
    <script src="js/factories/provideTime.js"></script>
    <script src="js/factories/emailArraysFactory.js"></script>
    <script src="js/factories/emailOperations.js"></script>
</body>

</html>
