<ul>
			<li class="emailList content">
				From: (author) <br>
				(date)<br>
				(subject)<br>
				<div class="btn btn-sm btn-danger">Read</div> <div class="btn btn-sm btn-danger btnscd">Delete</div>
			</li>
			<li class="emailList content">
				From: (author) <br>
				(date)<br>
				(subject)<br>
				<div class="btn btn-sm btn-danger">Read</div> <div class="btn btn-sm btn-danger btnscd">Delete</div>
			</li>
			<li class="emailList content">
				From: (author) <br>
				(date)<br>
				(subject)<br>
				<div class="btn btn-sm btn-danger">Read</div> <div class="btn btn-sm btn-danger btnscd">Delete</div>
			</li>
			<li class="emailList content">
				From: (author) <br>
				(date)<br>
				(subject)<br>
				<div class="btn btn-sm btn-danger">Read</div> <div class="btn btn-sm btn-danger btnscd">Delete</div>
			</li>
			<li class="emailList content">
				From: (author) <br>
				(date)<br>
				(subject)<br>
				<div class="btn btn-sm btn-danger">Read</div> <div class="btn btn-sm btn-danger btnscd">Delete</div>
			</li>
			<li class="emailList content">
				From: (author) <br>
				(date)<br>
				(subject)<br>
				<div class="btn btn-sm btn-danger">Read</div> <div class="btn btn-sm btn-danger btnscd">Delete</div>
			</li>
			<li class="emailList content">
				From: (author) <br>
				(date)<br>
				(subject)<br>
				<div class="btn btn-sm btn-danger">Read</div> <div class="btn btn-sm btn-danger btnscd">Delete</div>
			</li>
			<li class="emailList content">
				From: (author) <br>
				(date)<br>
				(subject)<br>
				<div class="btn btn-sm btn-danger">Read</div> <div class="btn btn-sm btn-danger btnscd">Delete</div>
			</li>
			<li class="emailList content">
				From: (author) <br>
				(date)<br>
				(subject)<br>
				<div class="btn btn-sm btn-danger">Read</div> <div class="btn btn-sm btn-danger btnscd">Delete</div>
			</li>
			<li class="emailList content">
				From: (author) <br>
				(date)<br>
				(subject)<br>
				<div class="btn btn-sm btn-danger">Read</div> <div class="btn btn-sm btn-danger btnscd">Delete</div>
			</li>
		</ul>