<div id="emailContent">
	<div id="emailDetails">
	<br>
	From: {{author}}<br>
	{{subject}}<br>
	{{date}}<br><br>
	<button class="btn btn-md btn-success" ng-click="switch = true">Reply</button>&nbsp
	<a ng-href={{backLink}} class="btn btn-md btn-danger" ng-click="delete(index,array)">Delete</a>
	<a ng-href={{backLink}} class="btn btn-md btn-warning pull-right" ng-click="spam(index,array)">Mark as a spam</a>
	<br><br>
	
	</div>
	<div id="emailText">
		{{content}}
	</div>
	<br><br><br>
	<div id="replyEmail" ng-show="switch">
	<label for="#sendTo">To:</label><input type="text" class="form-control" id="sendTo" value="{{author}}" disabled>
	<label for="#mailTopic">Subject:</label><input type="text" class="form-control" id="mailTopic" value="Re: {{subject}}">
	<br>
	<textarea cols="100" rows="7"></textarea>
	<br>
	<br>
	<button class="btn btn-md btn-success">Send</button>&nbsp &nbsp<button class="btn btn-md btn-default" ng-click="switch=false">Cancel</button>
	</div>
	
<div id="messageBottom">
<br><br>
<a ng-href={{backLink}} class="btn btn-md btn-info">↵ Back</a>
</div>
</div>